{% extends "base.html" %}

{% block title %}Portafolio | Inicio{% endblock title %}

{% block content %}
{% include "includes/header.html" %}
<section class="section banner">
	<div class="container mb-1">
		<div class="row">
            {% for item in home %}
            <div class="col-lg-10">
                <h2 class="cd-headline clip is-full-width mb-4 ">
                    {{item.title}}<br>
                    <span class="text-color">
                        <b class="is-visible"> Soy Desarrollador de Software</b>
                    </span>    
               </h2>
               <p>{{item.description}}</p>
           </div>
            {% endfor %}
		</div>
	</div>
</section>
{% include "about/about.html"  with about=about %}
{% include "work/homeWork.html" with workhome=workhome %}
{% include "services/serviceHome.html" with servicehome=servicehome %}
{% include "includes/footer.html" %}
{% endblock content %}