<section class="section service-home border-top">
	<div class="container">
		{% for item in servicehome  %}
        {% if item.is_active %}
        <div class="row">
			<div class="col-lg-6 py-5">
				<h2 class="mb-5 ">{{item.title}}</h2>
				<p class="mb-5">
					{{item.subtitle}}
				</p>
			</div>
		</div>
        <div class="row">
            {% for services in item.services_list.all %}
            <div class="col-lg-4">
				<div class="service-item mb-5" data-aos="fade-left" >
					<i class="{{services.icon}}"></i>
					<h4 class="my-3">{{services.name}}</h4>
					<p>{{services.description}}</p>
				</div>
			</div>
            {% endfor %}
		</div>
        {% endif %}
        {% endfor %}
	</div>
</section>